---
layout: default
tag: gamedev
title: Gamedev
permalink: /gamedev/
---

<!-- Gamedev Title and Description -->
<section class="gamedev-intro">
  <div class="gamedev-intro__content">
    <h1 class="gamedev-intro__title">Gamedev</h1>
    <p class="gamedev-intro__desc">I have been involved in game development and VR for 8 years and have released a game called <strong>Expedition Zero</strong>.</p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="container__inner">
        <div class="row grid">
          {% assign filtered_posts = site.posts | where_exp: "post", "post.tags contains page.tag" %}
          {% if filtered_posts.size > 0 %}
            {% for post in filtered_posts %}
              {% unless post.featured == true %}
                {% include article-content.html %}
              {% endunless %}
            {% endfor %}
          {% else %}
            <p>No posts found with the tag "{{ page.tag }}"</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include pagination.html %}
