/* Contact Page */
.contact-card {
  max-width: 680px;
}

.contact-card__text {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.7;
}

.contact-card__fallback {
  margin-bottom: 32px;
  color: $gray;
}

.contact-card__actions {
  margin-bottom: 48px;
}

.form__group {
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  padding: 20px;
  font-family: $heading-font-family;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid transparent;
  border-radius: 8px;
  color: $light-gray;
  background: $blue-dark;
  transition: border-color .2s ease-in-out;
  &::placeholder {
    color: $white;
  }
  &:focus {
    border-color: $brand-color;
  }
}

textarea {
  resize: vertical;
}
